<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	
	<div class="row">
	<div class="col-xs-3 col-xs-offset-1">
	<h2>Add book</h2>
		<form th:object="${book}" th:action="@{save}" action="#" method="post">
			<div class="form-group">
		  		<label for="Title">Title</label>
				<input type="text" class="form-control" id="title" th:field="*{title}" />
			</div>	
			
			<div style="clear: both; display: block; height: 10px;"></div>
		  	
		  	<div class="form-group">
		  		<label for="Author">Author</label>
				<input type="text" class="form-control" id="author" th:field="*{author}" />
			</div>
			
			<div style="clear: both; display: block; height: 10px;"></div>
		  	
		  	<div class="form-group">
		  		<label for="Year">Year</label>
				<input type="number" class="form-control" th:field="*{year}" />
			</div>
			
			<div style="clear: both; display: block; height: 10px;"></div>
		  	
		  	<div class="form-group">
		  		<label for="ISBN">ISBN</label>
				<input type="text" class="form-control" id="isbn" th:field="*{isbn}" />
			</div>
			
			<div style="clear: both; display: block; height: 10px;"></div>
		  	
		  	<div class="form-group">
		  		<label for="Price">Price</label>
				<input type="text" class="form-control" th:field="*{price}" />
			</div>
			
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<input class="btn btn-primary" type="submit" value="Save"></input>
		</form>
	</div>
	</div>
</body>
</html>