<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="row">
<div class="col-xs-4 col-xs-offset-1">
	<h1>Books</h1>
	<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
    <table class="table table-striped">
		<tr>
		    <th>Author</th>
		    <th>Title</th>
		    <th>ISBN</th>
		    <th>Year</th>
		    <th>Price</th>
		    <th>Category</th>
		    <th></th>
		    <th></th>
		</tr>  
    	<tr th:each = "book : ${books}">
    		<td th:text="${book.author}">Author</td>
    		<td th:text="${book.title}">Title</td>
    		<td th:text="${book.isbn}">ISBN</td>
    		<td th:text="${book.year}">Year</td>
    		<td th:text="${book.price}">Price</td>
    		<td th:text="${book.category.name}">Category</td>
    		<td><a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-warning">Edit</a></td>
    		<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a></td>
    		
    	</tr>
     </table>
     <a href="/add" class="btn btn-success">Add Book</a>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" class="btn btn-danger"/>
	</form>

</div>


</div>    	
</body>
</html>